@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
*{
  margin:0;
  padding:0;
}
html, body{
  height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  color: #666;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
h2{
  line-height: 1.25;
  padding-top: 45px;
  font-weight: 300;
}
ul{
  list-style-type: none;
}
button{
    
}
svg{
  padding: 20px;
}
text{
  font-size: 10px;
}
strong{
  font-weight: 600;
}
#graphic {
  max-width:  1440px;
  width: 100%;
  position:   relative; 
  height:  100%;
  position:  relative; 
  margin:auto;
}
.container {
  height: 100%;
  max-width: calc(100% - 700px);
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  line-height: 1.5;
  right: 100px;
  top: 100px;
}
.container section {
  min-height: 100%;
  display: block;
  padding: 0 45px;
}
.fixed {
  position: fixed;
  max-width: 500px;
  height: 500px;
  top: 100px;
  left: 100px
}
.idxContainer {
  position: fixed;
  right: 50px;
  top: 250px;
}
.idx {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
}
.notes {
  position: fixed:
  
}
